# 生成された出力ファイル
dist/
build/
lib/

# 依存関係
node_modules/

# 環境設定ファイル
.env
.env.*

# デバッグログ
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 一時ファイル
.DS_Store
.tmp/

# エディタ設定
.vscode/
.idea/

# その他
*.log
*.swp
*.swo